version: '3.8'

services:

  pgsql:
    container_name: 'pgsql'
    image: postgres:13.3
    ports:
      - "5433:5432"
    env_file:
      .env
    volumes:
      - pgsql_data:/var/lib/pgsql
    networks:
      - app-network

  src:
    container_name: 'src'
    build:
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    env_file:
      - .env
    volumes:
      - ./:/project
    command: python src/main.py
    networks:
      - app-network


  initial_data:
    container_name: 'initial_data'
    build:
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: "no"
    depends_on:
      - pgsql
    volumes:
      - ./:/project
    command: python src/initial_data.py
    networks:
      - app-network


volumes:
  pgsql_data:

networks:
  app-network:
    driver: bridge
